#
# This file contains a list of external dependencies
# needed to run stoqdrivers, they are processed by pip/easy_install
#

babel
pillow
pyserial >= 2.2
pyusb
# temporary pin because tests are failing for qrcode==6
qrcode ~= 5.3
zope.interface >= 3.0
